<style>
  .education-block {
    display: flex;
    align-items: center;
    max-width: 800px;
    margin: 0 auto;
    margin-bottom: 20px; /* 增加段间距 */
  }

  .education-logo {
    flex: 0 0 100px; /* 设置左边栏宽度 */
    margin-right: 20px;
  }

  .education-logo img {
    width: 100%; /* 让图片填充整个容器 */
  }
</style>

<div class="education-block">
  <div class="education-logo">
    <img src="assets/img/Logo_of_University_of_Science_and_Technology_of_China.svg.png" alt="USTC Logo">
  </div>
  <div class="education-details">
    <b> University of Science and Technology of China </b>
    <br>
    School of Information Science and Technology
    <br>
    PhD student, 2021 - present
  </div>
</div>

<div class="education-block">
  <div class="education-logo">
    <img src="assets/img/Logo_of_University_of_Science_and_Technology_of_China.svg.png" alt="USTC Logo">
  </div>
  <div class="education-details">
    <b> University of Science and Technology of China </b>
    <br>
    School of Information Science and Technology
    <br>
    Undergraduate, 2017 - 2021
  </div>
</div>